---
import Layout from '../layouts/Layout.astro';
import Overlay from '../components/Overlay.tsx';
---

<Layout title="Stužkovák 4.B">
    <div class="max-w-xl text-white text-center font-bold flex flex-col justify-center items-center px-3 m-auto">
        <img src="background.webp" />

        <p class="text-4xl mb-5">Stužkovák 4.B</p>
        <p class="text-xl mb-5">čtvrtek 3. 11. od 20:00</p>
        <p class="text-2xl mb-12">Bar Cihelna</p>

        <a
            class="block text-2xl w-3/5 min-w-fit border-red-700 border-[2.5px] rounded block px-4 py-4 mb-24"
            href="https://facebook.com/events/s/stuzkovak-4b-202223/901530390807413/"
        >
            Facebook Event
        </a>
    </div>
    <Overlay client:only="react" />
</Layout>

<style>
</style>
